<% pencil_icon = "📝" %>
<span class="notes">
<%= if @song_performance.notes do %>
  <%= if user_can(@current_user, :edit_perf, @song_performance) do %>
    <%= form_for JradNet.SongPerformance.changeset(@song_performance), song_performance_path(@conn, :update, @song_performance), [class: "link"], fn f -> %>
      <%= text_input f, :notes %>
      <%= submit "save" %>
      <%= error_tag f, :notes %>
    <% end %>
  <% else %>
    <%= @song_performance.notes %>
  <% end %>
<% else %>
  <%= if user_can(@current_user, :edit_perf, @song_performance) do %>
    <%= link pencil_icon, to: song_performance_path(@conn, :edit, @song_performance, add: :notes), class: "hover" %>
  <% end %>
<% end %>
</span>
