<h2>Show user</h2>

<ul>

  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

</ul>

<%= if user_can(@current_user, :edit_user, @user), do: link "Edit", to: user_path(@conn, :edit, @user), class: "btn" %>
<%= link "Back", to: user_path(@conn, :index), class: "btn btn-default" %>
