<!DOCTYPE html>
<html class="<%= Application.get_env(:jrad_net, :env) %>" lang="en" data-path="<%= @conn.request_path %>">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110469932-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){ dataLayer.push(arguments); }
      gtag("js", new Date());
      gtag("config", "UA-110469932-1");
    </script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="Setlists and more for Joe Russo's Almost Dead">
    <link rel="icon" type="image/png" href="https://i.imgur.com/Zce5PL0s.png" />
    <title><%= @view_module.title(@view_template, assigns) %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
  </head>

  <body>
    <div class="container">

      <a href="/"><img id="logo" src="https://i.imgur.com/tvtgYVY.png" alt="Good Ol' Almost Dead" /></a>
      <%= if (user = current_user(@conn)) do %>
        <div class="userinfo">Logged in as
          <span><%= user.username %></span>...
          <%= link "Log out?", to: session_path(@conn, :delete, user.id), method: :delete, data: [confirm: "Really log out?"], class: "btn btn-danger btn-xs" %>
        </div>
      <% end %>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>

        <div class="row marketing version">
          Version <%= Application.spec(:jrad_net, :vsn) %>
        </div>

      </main>

    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
