<h2><%= @venue.name %></h2>

<p>In <%= @venue.location %></p>

<p><strong>Capacity:</strong> <%= @venue.capacity %></p>

<ul>
  <%= for show <- shows_for(@venue) do %>
    <li><a href="<%= show_path(@conn, :show, show) %>"><%= readable_date(show) %></a></li>
  <% end %>
</ul>

<%= link "Edit", to: venue_path(@conn, :edit, @venue) %>
<%= link "Back", to: venue_path(@conn, :index) %>
