<div class="setlist">
  <%= for set <- @sets do %>
    <p><%= JradNet.Set.pretty_name(set.which) %></p>
    <%= render "_individual_set.html", conn: @conn, performances: set.song_performances %>
  <% end %>
</div>
