<h2>Edit show</h2>

<%= render "form.html",
  changeset: @changeset,
  action: show_path(@conn, :update, @show),
  all_venues: @all_venues
%>

<%= link "Back", to: show_path(@conn, :index), class: "btn" %>
