<div>
	<h1>Shows</h1>

	<ul>
		<%= for show <- all_shows do %>
			<li><%= show.date %></li>
		<% end %>
	</ul>
</div>

<div class="row marketing">
  Version <%= Application.spec(:gigalixir_getting_started, :vsn) %>
<end>
