<div>
  <h1>Songs</h1>

  <ul>
    <%= for song <- @songs do %>
      <li><%= song.name %></li>
    <% end %>
  </ul>
</div>

<div class="row marketing">
  Version <%= Application.spec(:jrad_net, :vsn) %>
<end>
