<div>
	<h1>Songs</h1>

	<ul>
		<%= for song <- all_songs do %>
			<li><%= song.name %></li>
		<% end %>
	</ul>
</div>

<div class="row marketing">
  Version <%= Application.spec(:gigalixir_getting_started, :vsn) %>
<end>
